<%- include('includes/head.ejs') %>

<div class="site-navbar mt-4">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-8 col-md-8 col-lg-4">
          <h1 class="mb-0"><a href="/" class="text-white h2 mb-0"><strong>Sackflix</strong></a></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <h2 class="mb-5">Register Here</h2>
          <p>Be a part of our Sackflix community as we aim to develop a better place for movie lovers.</p>
        </div>
      </div>
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <form action="#" method="post" class="site-block-subscribe">
        
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" name="name" placeholder="Enter your name"
              aria-label="Enter Name" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control border-secondary text-white bg-transparent" name="email" placeholder="Enter your email"
                aria-label="Enter Email" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control border-secondary text-white bg-transparent" name="password" placeholder="Enter your password"
                aria-label="Enter Password" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control border-secondary text-white bg-transparent" placeholder="Confirm your password"
                aria-label="Confirm Password" name="cpassword" aria-describedby="button-addon2">
            </div>
            <button class="btn btn-primary rounded-top-right-0" type="submit"  id="button-addon2">Sign Up</button>
          </form>
          <div class="mb-5">
            <br>
              <h3 class="footer-heading mb-4">Already have an acoount? Click<a href="/register">here</a> to login.</h3>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>




<%- include('includes/end.ejs') %>