
<%- include('../includes/head.ejs') %>

<div class="site-navbar mt-4">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-8 col-md-8 col-lg-4">
          <h1 class="mb-0"><a href="/" class="text-white h2 mb-0"><strong>Sackflix</strong></a></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <h2 class="mb-5">Movies</h2>
          <p>Enjoy movies here</p>
        </div>
      </div>
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
         <h3>Welcome <%= user.name %></h3>
          <div class="mb-5">
          <br>
            <h3 class="footer-heading mb-4">We are currently workin on this section.</h3>
            <p>Visit us soon. Go <a href="">Back</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<%- include('../includes/end.ejs') %>